body{
    background:rgb(255, 123, 100);
    font-family:'Courier New', Courier, monospace;
    line-height:1.5;
    
}
h2{
    color:white;
    text-align:center;
    
}
footer{
    text-align:center;
    color:white;
    font-size:0.7rem;
}
a{
    color:blue;
    font-size:0.8rem;
}