body{
    background:rgb(207, 189, 252);
    font-family:'Courier New', Courier, monospace;
    line-height:1.5;
    
}
h2{
    color:black;
    text-align:center;
    font-family: monospace;
    font-weight:bold;
    font-size:22px;
    
}
h3{
    font-size:24px;
}

footer{
    text-align:center;
    color:black;
    font-size:0.7rem;
    line-height: 0;
    
}
a{
    color:blue;
    font-size:0.8rem;
}
.container{
    border: 1px solid rgb(249, 237, 250);
    background-color: rgb(249, 237, 250);
    width:600px;
    border-radius:6px;
    border-bottom: 1px solid rgb(207, 189, 252);
    height:270px;
    display:block;
    margin:80px auto;
    box-shadow: rgb(207, 189, 252);
    

}
select{
    padding:10px 20px;
    margin:5px;
    margin-left:40px;
    width:520px;
    border-radius:5px;

}

.city{
    margin:8px;
    display:flex;
    justify-content: space-between;
    border-bottom: 1px dashed gray;
    padding-bottom: 20px;
   
    
}

.time small{
    font-size:20px;
    vertical-align: middle;
    line-height:30px;
}
.time{
    font-size:35px;
    font-weight:bold;
    padding-top:38px;
}



